<app-sidebar></app-sidebar>
<div class="header">
  <form #f="ngForm" novalidate (ngSubmit)="onSubmit(f)">
    <div class="input-group spacing">
      <div class="form-outline col-4">
        <input ngModel #search="ngModel" name="search" type="search" id="form1" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">
        Search
      </button>
    </div>
  </form>
</div>


<section class="wrapper ">
  <div class="container card-container">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-white card-has-bg click-col"
          style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
          <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street"
            alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2">Please do your own due diligence</small>
              <h4 class="card-title mt-0 ">Investment due diligence is a necessary process for both buyers and sellers
                to undertake to ensure the swift execution of their envisaged transaction. Although, with the stakes
                high, there are certain challenges that can arise throughout the process which, with careful planning
                and execution, can be mitigated.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<form #w="ngForm">
  <button type="submit" (click)="addtoWatchlist(w)" class="watchlist-btn btn btn-primary btn-lg">Add to
    Watchlist</button>
</form>

<app-charts [stock]="name"></app-charts>
<app-metrics [stock]="name"></app-metrics>